body, html{
	height: 100%;
}

body {
	font-family: 'Verdana', Arial, sans-serif;
	margin:0;
	padding:0;
}

div#barra{
	background-color: transparent;
	background-color: #00b0ca;
	border-top: solid 3px #777;
}
div#conteudo{
	padding-top: 7px;
	font-family: inherit;
}
div.interno{
	padding: 3px;
	font-family: inherit;
}
div.interno h1{
	font-family: inherit;
	color: #555;
	font-weight: normal;
	margin:0px;
	font-size:22px;
}
div.interno h2{
	font-family: inherit;
	color: #999 ;
	font-weight: normal;
	font-size:12px;
	margin:0;
}
div#header{
	font-family: inherit;
	margin-top:5px;
	margin-bottom:15px;
}
div#header div.acoes{
	float:right;
}
div#header div.acoes i{
	font-size:30px;
	color: #999;
}
div#header h1{
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size:24px;
}

div#barra h1{
	margin-left: 10px;
	display: inline;
}		
a, a:visited {
	color: #006E7C;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

div.nav{
	display:inline;
}
div.nav ul li {
	display:inline;
	margin:0 1.2em;
}
div.nav ul {
	list-style: none;
	display:inline;
}
div.nav ul li{
	display: inline;
}
div.nav ul li a{
	color: #fff;
}

.xmenu{
font: normal 12px Arial;
background-color: transparent;
font-family: Verdana, Arial, sans-serif;
display: inline-block;
}
.xmenu ul{
	list-style: none;
	margin:0;
	padding: 0;
	display:inline;
	z-index: 100;
}
.xmenu ul li{
	font-family: inherit;
	position: relative;
	display: inline-block;
	background-color: transparent;
	color:#fff;
	padding: 6px 9px;
	/*height: 24px;*/
}
.xmenu ul li a{
	font-family: inherit;
	color: inherit;
}
.xmenu ul li ul li{
	font-family: inherit;
	display: inline-block;
	width:180px;
	background-color:#037095;
}
.xmenu ul li ul li a{
	font-family: inherit;
	color: #fff;
}
.xmenu li ul{
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
}	
.xmenu li ul li ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 198px;
}
.xmenu li:hover ul { display: block; } 
.xmenu li:hover ul li ul{ display: none; }
.xmenu li ul li:hover ul { display: block; }
.xmenu ul li ul li:hover {background-color: #0c7da4;}

.xmenu form {display: inline;}


table{
	margin: auto;
	/*width: 100%;*/
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: inherit;
	color: #555;
	border-bottom: solid 1px #ccc;
}
table.listagem{
	clear:both;
	margin:auto;
	width:100%;
}
table.listagem td{
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	background-color: transparent;
	font-family: inherit;
	font-size: 0.6em;
	padding: 7px 3px;
	transition: background-color 2s;
}
table.listagem tr td:first-child{
	border-left:none;
}
table.listagem tr td:last-child{
	border-right:none;
}

table.listagem thead tr{
	outline-offset: -2px;
	border-top: 1px solid rgb(206, 206, 206);
	border-bottom: 1px solid rgb(206, 206, 206);

}
table.listagem th{
	margin-top: 20px;
	border: solid 1px #999;
	border-top:none;
	background-color: #fff;
	font-family: inherit;
	font-size: 0.6em;
	background-image: linear-gradient(top, rgb(238,238,238) 48%, rgb(224,224,224) 74%);
	background-image: -o-linear-gradient(top, rgb(238,238,238) 48%, rgb(224,224,224) 74%);
	background-image: -moz-linear-gradient(top, rgb(238,238,238) 48%, rgb(224,224,224) 74%);
	background-image: -webkit-linear-gradient(top, rgb(238,238,238) 48%, rgb(224,224,224) 74%);
	background-image: -ms-linear-gradient(top, rgb(238,238,238) 48%, rgb(224,224,224) 74%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.48, rgb(238,238,238)),
		color-stop(0.74, rgb(224,224,224))
	);
}
table.listagem tr th:first-child{
	border-left:none;
}

table.listagem tr th:last-child{
	border-right:none;
}

table.listagem tbody tr:last-child td{
	border-bottom: none;
}

table.listagem td.c{
	text-align: center;
}

table.listagem td.r{
	text-align:right;
}

table.listagem th.c{
	text-align: center;
}
table.listagem th.r{
	text-align:right;
}
.even {
	background-color: #E7E7E7;
}
table.listagem td{
	background-color: transparent;
}

table.listagem td.iso{
	border: solid 1px #E7E7E7;
	background-color: #fff;
}
table.listagem tr td.red {
	background-color: transparent;
}
table.listagem tr td a.botao{
	color: #333;
	padding:2px 4px;
}
table.listagem tr td a.botao{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #333;
	background-image: linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -o-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -moz-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -webkit-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -ms-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.4, rgb(245,245,245)),
		color-stop(0.7, rgb(224,224,224)),
		color-stop(0.85, rgb(217,217,217))
	);			
}
table.listagem a i{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;
	/*width: 30px;*/
	background-image: none;
	background-color: #adadad;
}
/*==========================================
  filtros
 *==========================================*/
div.filtro{
	/*margin-top:10px;*/
	margin-bottom:10px;
	font-size:11px;
}
div.filtro div.row{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.filtro p{
	margin-top:10px;
	margin-bottom:0px;
	margin-left:0px;
}
div.filtro select{
	/*width:100%;*/
	width:auto;
	margin:auto;
	font-size: inherit;
}
div.filtro p.label{
	margin-top:3px;
	font-size:1.1em;
	/*text-align: right;*/
}
div.filtro ul li select{
	font-size: inherit;	
}
div.filtro ul{
	list-style: none;
}

div.filtro ul
, div.filtro ul li
, div.filtro ul li p{
	font-size: inherit;
	display: inline;
}

div.filtro ul li p{
	
}
/*==========================================
  forms
 *==========================================*/
div.form ul{
	list-style: none;
	margin:0;
	padding:0;
}

div.form ul
, div.form ul li
, div.form ul li p{
	display: inline;
}

div.form ul li p{
	display: inline;
}
div.form ul li{
	float: left;
	width: 47%;
	font-size:1.1em;
	position:relative;
	padding: 5px 0;
	margin-right: 3%;
}
div.form ul li:hover { color:#037095;}
div.form ul li.title { width:100%; }
div.form ul li .label {
	float: left;
	width: 43%;
	margin:5px;
	margin-right: 6%;
	padding: 2px 0;
	font-size: 12px;
}
div.form ul li p.content {
	float: left;
	width:50%;
	margin:0;
}
div.form ul li .content input[type=text] {
	width: 96.3%;
	padding: 1px 4px;
}
div.form ul li .content input.edited { font-style:italic;}
div.form ul li .content input[readonly=readonly],
div.form ul li .content select[disabled],
div.form ul li .content textarea[disabled]{
	background:none;
	border-color:#fff;
}
div.form ul li .content select[disabled]{
	margin-left: -4px;
}
p.botaoTopo i{
	background-color: #adadad;
	padding-left:25px;
	padding-right:25px;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
p.botaoTopo i:hover{
	background-color: #00b0ca; 
}
/*div.filtro p{
	text-align: left;
	border: solid 1px green;
}
div.filtro p span.label{
	width:35%;
	display: inline-block;
	border: solid 1px blue;
}
div.filtro p input{
	width:60%;
	border: solid 1px red;
}
div.filtro p input[type="checkbox"]{
	width:auto;
	border: solid 1px red;
}
div.filtro p select{
	width:60%;
}
*/